In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df

   metro  precio
0      5     375
1     15     487
2     20     450
3     25     500